$content-width: 960px;
$black: #222;
$white: #fff;
$grey-bg: #f2f2f2;
$cd-purple: #642580;
$cd-purple-gradient: #9266a6;
$cd-orange: #ED684A;
$cd-orange-gradient: #EC431D;
$cd-teal: #41BAC1;
$foam: #D1FAFD;

$mobile-h1-size: 28px;
$mobile-h1-weight: bold;
$mobile-h2-size: 22px;
$mobile-h2-weight: normal;
$mobile-h3-size: 18px;
$mobile-p-size: 18px;
$subtext: 14px;

$breakpoints: (sm: 576px, md: 768px, lg: 992px, xl: 1200px);

@function get-breakpoint($name) {
  @return map-get($breakpoints, $name);
}

@mixin media-breakpoint-min($name) {
  @media (min-width: get-breakpoint($name)) {
    @content;
  }
}

@mixin media-breakpoint-max($name) {
  @media (max-width: get-breakpoint($name)) {
    @content;
  }
}

@mixin media-breakpoint-between($min, $max) {
  @media (min-width: get-breakpoint($min)) and (max-width: get-breakpoint($max)) {
    @content;
  }
}
